<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TODOINOLIST</h5>
        <p class="grey-text text-lighten-4">
          Проект выполнен с целью изучения Angular 5 и для производственной практики
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Ссылки</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://vk.com/kirill.romanenko">Вконтакте</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/kirillRomanenko">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Kirill Romanenko
    </div>
  </div>
</footer>
