<div class="container">
  <section class="list list-inline margin-top-centr"
           *ngFor="let list of lists">
    <h1>{{list.listName}}</h1>
    <div [dragula] = '"fourth-bag"'>
    <div class="card" *ngFor="let card of getCards(list)">
      <div *ngIf="!card.editing">
        {{card.description}}
        <div (click)="editCard(card)" class="edit-small edit-card hand"></div>
        <div (click)="deleteCard(card)" class="remove-small remove-card hand"></div>
      </div>
      <div *ngIf="card.editing">
        <input (keyup.enter)="updateCard(card)" type="text" [(ngModel)]="card.description" name="description">
      </div>
    </div>
    </div>
    <a (click)="removeList(list)" class="hand">
      <div class="remove remove-list"></div>
    </a>
    <section class="new-card">
      <form #myNgFormCard="ngForm" (submit)="createCard(list); myNgFormCard.form.reset()">
        <input type="text" [(ngModel)]="list.description" name="description" placeholder="New card">
      </form>
    </section>
  </section>


  <section class="list new-list list-inline margin-top-centr">
    <form #myNgFormList="ngForm" (submit)="addlist(listName);  myNgFormList.form.reset()">
      <input type="text" [(ngModel)]="listName" name="listName">
    </form>
  </section>
</div>


